/simplified-nq-train.1000.jsonl
/simplified-nq-test.jsonl
/simplified-nq-train.all.jsonl
/simplified-nq-train.10.jsonl
/simplified-nq-train.100.jsonl
/simplified-nq-train.10000.jsonl
/simplified-nq-train.100000.jsonl
/simplified-nq-train.200000.jsonl
/simplified-nq-train.5000.jsonl
/simplified-nq-train.50000.jsonl
/simplified-nq-train.jsonl
/simplified-nq-valid.10.jsonl
/simplified-nq-valid.100.jsonl
/simplified-nq-valid.2000.jsonl
/simplified-nq-valid.50.jsonl
